
.banner{
  
    height: 30vh;
    background-size: 50%;
    background-position: center;
 }

.parte1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

.parte1 img{
    width: 50%;
}

.container-fluid{
    font-family: sans-serif;
}

.body{
    background-image: linear-gradient(#ffff rgb(228, 231, 16));
}   

p{
    font-family:sans-serif
}